body {
    background-color: #333;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  

  .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
  }
  
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .box:nth-child(1) {
    background-color: blue;
    top: 50px;
    left: 50px;
  }
  
  .box:nth-child(2) {
    background-color: red;
    top: 150px;
    left: 150px;
  }
  